<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    	body{
	background-color:lightgrey;
	text-align:center;
	color:brown;
	}
input{
	background: lightblue;
	padding-right: 2px;
	color:white;
}


    </style>
</head>
<body>
    <h1>AI DEBUGGING TOOL</h1>
    <form action="{{url_for('upload')}}" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file"><br><br>

        <input type="submit" value="upload">
    </form>
</body>
</html>
