<!doctype html>
<html>
<title>PAnalytics</title>
<h2></h2>
<head>
  <link href="http://vjs.zencdn.net/6.2.8/video-js.css" rel="stylesheet">
	<style>
        body{
    background-color:lightgrey;
    text-align:center;
    color:brown;
    }
a{
    background: lightblue;
    padding-right: 2px;
    color:white;
}
		 table, th, td {
  border: 1px solid #4d0026;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
	</style>
	</head>

<body >
	<div>
		<h1>OPERATOR ANALYTICS</h1>
		<img src="{{ url_for('static',filename='uploads/image.png')}}"><br><br>
    
    <div>
   
</div>



	</div>
	<h2>Workspace 1 violations</h2>
	<table >
        <tr>
                <th>vid</th>
                <th>Start_time</th>
                <th>End_time</th>
                <th>overcrowded</th>
                <th>undercrowded</th>
        </tr>
        {% for k in res['workspace1_violations'].keys() %}
                <tr>
                        <td>{{ k }}</td>
                        <td>{{ res['workspace1_violations'][k]["start_time"]}}</td>
                        <td>{{ res['workspace1_violations'][k]["end_time"]}}</td>
                        <td>{{ res['workspace1_violations'][k]["Overdue"]}}</td>
                        <td>{{ res['workspace1_violations'][k]["underdue"]}}</td>
                </tr>
        {% endfor %}
</table>
<br>
<br>
<h2>Workspace 2 violations</h2>
	<table >
        <tr>
                <th>vid</th>
                <th>Start_time</th>
                <th>End_time</th>
                <th>overcrowded</th>
                <th>undercrowded</th>
        </tr>
        {% for k in res['workspace2_violations'].keys() %}
                <tr>
                        <td>{{ k }}</td>
                        <td>{{ res['workspace2_violations'][k]["start_time"]}}</td>
                        <td>{{ res['workspace2_violations'][k]["end_time"]}}</td>
                        <td>{{ res['workspace2_violations'][k]["Overdue"]}}</td>
                        <td>{{ res['workspace2_violations'][k]["underdue"]}}</td>
                </tr>
        {% endfor %}
</table>
<br><br>
<h2>Workspace 3 violations</h2>
	<table >
        <tr>
                <th>vid</th>
                <th>Start_time</th>
                <th>End_time</th>
                <th>overcrowded</th>
                <th>undercrowded</th>
        </tr>
        {% for k in res['workspace3_violations'].keys() %}
                <tr>
                        <td>{{ k }}</td>
                        <td>{{ res['workspace3_violations'][k]["start_time"]}}</td>
                        <td>{{ res['workspace3_violations'][k]["end_time"]}}</td>
                        <td>{{ res['workspace3_violations'][k]["Overdue"]}}</td>
                        <td>{{ res['workspace3_violations'][k]["underdue"]}}</td>
                </tr>
        {% endfor %}
</table>
 
 <br><br><br>
<a href="{{url_for('test')}}" target="_blank"> LOAD VIDEO</a><br><br><br>




 </body>



</html>
